body{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 8px 8px 8px rgba(43, 43, 43, 0.767);
}

form input{
    width: 95%;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(43, 43, 43, 0.767);
}
.btn{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 5%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(43, 43, 43, 0.767);
}
