body {
    background-color: rgb(181, 207, 255);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: black;
    font-size: 2em;
    margin-top: 30px;
}

.container {
    width: 90%;
    max-width: 300px;
    margin: 40px auto;
    background-color: #161616;
    border-radius: 30px;
    padding: 20px;
    filter: drop-shadow(20px, 20px, 20px, rgba(65, 64, 64, 0.2));
    transition: transform 0.5s, background-color 0.3s;
}

.container:hover {
    transform: scale(1.1);
    box-shadow: 10px 5px 10px rgba(27, 27, 27, 0.74);
}

.row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

button:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.3);
}
